<h1>Node Express</h1>
{{!-- <p> {{data.name}}, {{data.age}} </p> --}}
<p> 
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos quibusdam ipsa natus deserunt, ea consequatur suscipit eius dolores non quis! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda quasi earum repudiandae aut soluta architecto doloremque maxime ad. Magni natus iure enim ad. Obcaecati impedit adipisci earum necessitatibus iste quas itaque quibusdam, fugit, consectetur nam atque eaque ducimus dicta. Perferendis maxime dicta obcaecati, saepe nihil consequuntur quam ullam culpa suscipit.
</p>
{{> people}}